@using Microsoft.EntityFrameworkCore
@using eCommerce.Data
@inject eCommerceContext dbContext
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Hello Admin</h1>