@model eCommerce.Models.Product

@{
    ViewData["Title"] = "Thêm sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Thêm sản phẩm</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Tên sản phẩm</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Đơn giá</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Hình ảnh</label>
                <input asp-for="Thumbnail" name="fThumb" type="file" class="form-control-file" />
                <span asp-validation-for="Thumbnail" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAvailable" /> Có sẵn
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Mô tả</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoriesId" class="control-label">Danh mục</label>
                <select asp-for="CategoriesId" class ="form-control" asp-items="ViewBag.CategoriesId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TagsId" class="control-label">Tag</label>
                <select asp-for="TagsId" class ="form-control" asp-items="ViewBag.TagsId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo mới" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Danh sách sản phẩm</a>
</div>

